.jumbotron {
  background: url("/img/advertisements-batch-blur-518543.jpg") no-repeat center center;
  color: white;
  font-weight: bolder;
}

.container {
  color: #264d73;
}

.display-4 {
  font-size: 60px;
  font-weight: bolder;
}

.lead {
  font-size: 40px;
  font-weight: bolder;
}

.card-body {
  /* background-color: #ecf2f9; */
  /* background-color: white; */
  border: none;
  color: #264d73;
  /* opacity: .7; */
  /* background: url("/public/img/advertisements-batch-blur-518543.jpg"); */
}

.btn-primary {
  background-color: #264d73;
  color: #ecf2f9 !important;
  /* color: white !important; */
  border: none;
}

.note-item-list {
  padding: 5px;
}


body {
  background-image: url("/img/beverage-blank-break-997719.jpg");
  
}





